.writing-content-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;

  h4 {
    font-size: 28px;
    margin: 20px 0;
    line-height: 1.3;
  }

  .publish-date {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: -0.05em;
  }

  li {
    border: 1px solid rgb(var(--secondary-color), 0.2);
    border-radius: 15px;
    padding: 20px;

    +li {
      margin-top: 40px;
    }
  }
}